header {
    position: relative;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;
}

nav li { display: inline; }

main {
    max-width: 960px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
}

table {
    table-layout: auto;
    border-collapse: separate;
    border: 3px solid black;
    margin: 100px auto 0 auto;
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

footer {
    min-width: 100%;
    background-color: blueviolet;
    color: #f5f5f5;
    margin: 0;
    position: relative;
    top: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.even-line {
    background-color: grey;
}
